.line {
    width:100%;
    height:1px;
    background-color: black;
    margin-bottom: 5px;
}

.deleteButtonContainer{
    width: 100%;
    height:40px;
    display: flex;
    justify-content: flex-end;
}
