<!-- Make sure the base is from the 'core' -->
{% extends 'core/base.html' %} 
{% load static %}

{% block additionalLinks %}
<link rel="stylesheet" href="{% static 'core/css/contactus.css' %}">
{% endblock %}

{% block title %}Contact Us{% endblock %}

{% block content %}

<div class="container">

    <div id="inbox-box">
        <div id="inbox-header">
            <div class="col" style="padding-top: 15px;">
                <h2>Inbox</h2>
            </div>

            <div class="col">
                <form method="GET">
                    <input type="text" placeholder="Search inbox here..." id="search-box">
                    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    <button type="button" data-toggle="modal" data-target="#newConversationModal">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </button>
                </form>
            </div>
        </div>

        <div id="inbox-body">
            <div class="mail-box" id="mailbox">

                <div>
                    <h5 class="text-center text-muted">Retrieving messages. Please wait!</h5>
                </div>

            </div>
        </div>

        <nav class="pagination-navbar">
            <ul class="pagination justify-content-center" id="pagination-bar">
            </ul>
        </nav>

    </div>

</div>

<!-- Create new contact us Modal -->
<div class="modal fade" id="newConversationModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="newConversationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Talk to us! Create new conversation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form id="newConversationForm">

                <div class="modal-body">
                    <input id="request-id" type="hidden" value="{{ user.id }}">

                    <div class="form-group">
                        <label for="new-topic">Conversation Topic</label>
                        <input required type="text" id="new-topic" placeholder="Enter conversation topic here..." class="form-control" aria-describedby="topicHelp">
                        <small id="topicHelp" class="form-text text-muted">Enter general topics, e.g. Bugs, Request for RFID. This will help administrators prioritize conversations.</small>
                    </div>
                    
                    <div class="form-group">
                        <label for="new-topic-body">Body</label>
                        <textarea required class="form-control" id="new-topic-body" rows="10"></textarea>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" id="newConversationButton" class="btn btn-primary">Submit</button>
                </div>

            </form>
        </div>
    </div>
</div>


<!-- Read conversation Modal -->
<div class="modal fade" id="readConversationModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="readConversationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="readConversationTitle">Topic Name</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body" id="conversation-body">
                <div id="conversation-history">
                    <div class="container">
                        <div class="row" id="conversation-container">

                        </div>
                    </div>
                </div>
                
            </div>
            <form id="reply-form">
                <div class="col-10">
                    <textarea required class="form-control" id="reply-msg" rows="3" cols="50" style="resize: none;"></textarea>
                </div>
                <div class="col-2">
                    <button type="submit" id="reply-button" class="btn btn-primary">Reply</button>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>


{% endblock %}


{% block additionalScript %}
<script src="{% static 'core/js/contactus.js' %}"></script>
{% endblock%}
